
body{
    height: 98vh;
    /* width: 100vw; */
    background: linear-gradient(rgb(132, 228, 231) , rgb(121, 248, 121));
    
    
}
.flexbox{
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25vh;
}
.common{
    /* background-color: rgb(33, 206, 76); */
    border: solid rgb(27, 170, 63);
    /* border-radius: 5px; */
}
.lightest{
    /* background-color: rgb(129, 241, 157); */
    border: solid rgb(27, 170, 63);
    /* border-radius: 5px; */
}
.darkest{
    /* background-color: rgb(7, 82, 26); */
    /* border: solid rgb(4, 48, 15); */
    border: solid rgb(27, 170, 63);
    /* border-radius: 5px; */
}
.container{
    height: 50vh;
    width : 50vw;
    /* background-color: rgb(160, 215, 218); */
    display: grid;
    /* grid-template-columns: 30px 30px 30px 30px;
    grid-template-rows: 30px 30px 30px 30px; */
    grid-template-columns: repeat(7 , 1fr);
    grid-template-rows: repeat(6 , 1fr);
    row-gap: 2px;
    column-gap: 2px;
}
.item{
    /* height: 80px;
    width : 80px; */
    background-color: rgb(45, 73, 73);
    padding: 0;
    margin: 0;
}
.weekDay{
    border: none;
    background-color: rgba(240, 248, 255, 0);
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    font-weight: 600;
    transition: 0.1s;


}
.weekDay:hover{
    border: none;
    font-size: x-large;
}
button{
    transition: 0.1s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
button:hover{
    transform:scale(1.1);
}
.monthSelector{
    background-color: rgba(240, 248, 255, 0);
    /* background-color: aliceblue; */
    border: none;
    width: 70px;
    height: 20vh;
    position: absolute;
    left: 12vw;
    top: 45vh ;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 900;
    transition: 0.1s;
    color: rgb(35, 54, 68);
    

}
.monthSelector:hover{
    color: rgb(59, 42, 19);
    cursor: pointer;
    transform: scale(1);
}
.dates{
    color: rgba(9, 9, 77, 0.1);
    font-size: x-large;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;


}
.dates:hover{
    color: rgba(46, 46, 54);
    cursor: pointer;
    /* visibility: visible;
    opacity: 1; */
    

}
.dates::before{
    background: linear-gradient(rgb(15, 12, 15,0.5) , rgb(13, 13, 59,0.5));
    /* height: 100px;
    width: 100px; */
    /* border: 2px solid white; */
    border-radius: 7px;
    padding: 5px;
    color: rgba(240, 248, 255, 0.582);
    position: absolute;
    top: -100px;
    left: -30px;

    content: attr(data-tooltip);
    display: none;
}
.dates:hover::before{
    display:inline-block;
}
/* .dates li {
    position: relative;
    top: -100px;
    left: 50px;
    height: 50px;
    width: 50px;
    border: 2px solid white;
    background-color: antiquewhite;
    list-style: none;
    visibility: hidden;
    opacity: 0;
} */

.overlay{
    display: none;
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(0,0,0,0.5);
}
#todo{
    display: none;
    height: 500px;
    width: 500px;
    /* filter: blur(); */
    background: linear-gradient(rgba(62, 101, 102, 0.8) , rgba(58, 105, 58, 0.8));
    border-radius: 10px;
    position: fixed;
    top: 22vh;
    left: 33.9vw;
    z-index: 10;
    transition: .3s;
    transform: scale(1);
    box-shadow: 0px 0px 50px 10px black;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: antiquewhite;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.2s;
    animation-name: animatetop;
    animation-duration: 0.2s;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.dummy{
    position: relative;
    top: 8rem;
    left: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
#myInput{
    border-radius: 4px;
    height: 30px;
    width: 230px;
    position: absolute;
    top: 76px;
    box-shadow: 5px 5px 8px rgb(152, 243, 66);
    border: none;
    outline: none;
    margin-left: 120px;
    background-color:rgb(1, 48, 3);
    color: antiquewhite;
    font-size: large;
    font-family: poppins , sans-serif;
}
#addBtn{
    position: absolute;
    top: 76px;
    left: 370px;
    height: 20px;
    width: 20px;
    color: rgb(127, 255, 165);
    box-shadow: 15px 15px 15px rgb(152, 243, 66);
}
#addBtn:hover{
    cursor: pointer;
}
#heading{
    color: greenyellow;
    font-family: 'Maven Pro', sans-serif;
/* font-family: 'Shadows Into Light', cursive; */
    font-weight: 700px;
    position: absolute;
    left: 20px;
}
.todoElements{
    font-family: poppins , sans-serif;
    color: aliceblue;
}
.todoElements::before{
    content: "";
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
@keyframes animatetop {
      0% {
        transform: scale(0) rotate(0deg);
      }
      20% {
        transform: scale(0.2) rotate(0deg);
      }
      40% {
        transform: scale(0.4) rotate(0deg);
      }
      50%{
        transform: scale(0.5) rotate(0deg);
      }
      80% {
        transform: scale(0.8) rotate(0deg);
      }
      100% {
        transform: scale(1) rotate(0deg);
      }
    }
.closeModal{
    position: absolute;
    right: 1px;
    top: 1px;
    background-color: rgba(240, 248, 255, 0);
    border: none;
}
ul{
    list-style-type: none;
}
.checked{
    text-decoration: line-through;
}
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
.close:hover {
    background-color: #f44336;
    color: white;
  }
/* #del:hover{
      transform: scale(1.5);
      transition: 0.2s;
      cursor: pointer;
  } */
#helped:hover{
    /* background-color:rgb(1, 48, 3,0.5); */
    box-shadow: 5px 5px 8px rgb(1, 48, 3,0.5);
    border-radius: 10px;
    margin-right: 50px;
}
#dustbin{
    height: 35px;
    width: 35px;
    position:absolute;
    top: 75px;
    right : 40px;
    transition: 5ms;
    /* display: none; */
    /* background-color: rgb(152, 243, 66,0.4);
    box-shadow: 5px 5px 25px rgb(152, 243, 66); */
}
#dustbin:hover{
    transform: scale(1.1);
    /* box-shadow: 5px 5px 8px rgb(1, 48, 3,0.5);
    border: none;
    border-radius: 10px;*/
} 
.dragging{
    opacity: 0.5;
}
::-webkit-scrollbar{
    width: 10px;
}
#progressBar{
    width: 55%;
    height: 10px;
    background: linear-gradient(to right ,rgb(2, 65, 94),rgb(204, 180, 43));
    position: absolute;
    left: 180px;
    top: 30px;
    border-radius: 5px;
}
.list{
    position: absolute;
    top: 110px;
    overflow: hidden;
    overflow-y: scroll;
    height: 390px;
    /* background-color: #f44336; */
}